body {
    font-family: sans-serif;
    margin: 40px 0 40px 0;
}

.container {
    max-width: 1060px;
    width: 100%;
    padding: 0px 15px;
    margin: 0px auto;
}

.header__wrap {
    display: flex;
    gap: 30px;
}

.header__img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.header__title {
    margin: 0;
}